body {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.8em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

div {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
}

div input[type="email"],
div input[type="password"],
div input[type="text"],
div input[type="date"],
div select,
div input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

div input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(231, 85, 12);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}

div input[type="submit"]:hover {
    background-color: rgb(231, 56, 12);
}

.group {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
}

div input[type="file"] {
    padding: 5px;
}